.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-icon{
  position: absolute;
  top: 10px;
  left: 10px;
}

.grey-circle{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: lightgrey;
}